.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
.icon-set{
    background: #237f52;
}

.fa {
    color: #fff;
}

.nav > li.facebook > a:hover {
    background: #3b5998 !important;
}

.nav > li.twitter > a:hover {
    background: #55acee !important;
}

.nav > li.instagram > a:hover {
    background: #405de6;
    background: -webkit-linear-gradient(left top, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
    background: -o-linear-gradient(bottom right, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
    background: -moz-linear-gradient(bottom right, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
    background: linear-gradient(to bottom right, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
}

.nav > li.linkedin > a:hover {
    background: #0077b5 !important;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}